{% include 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="mt-2 inline">
        <div class="row">
            <div class="col-md-4">
                <p class="h3">Dashboard<small class="text-muted"> {{ app.user.email }} </small></p>
            </div>
            <div class="col-md-2">
                <a class="btn btn-primary" href="{{ path('app_logout') }}">Cerrar sesión</a>
            </div>
        </div>
        <div class="row">
            <hr class="solid">
        </div>
        <div class="row">
            <p class="h3">Tickets pendientes</p>
             <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Problema</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tg in tickets_pendientes %}
                    <tr>
                    <th scope="row">{{tg.id}}</th>
                    <td>{{tg.problema}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                </tbody>
            </table>
            <div class="text-center">
                <a class="btn btn-primary" href="{{ path('app_ticket_crear') }}">Generar nuevo ticket</a>
            </div>
        </div>
        <div class="row">
            <p class="h3">Tickets solucionados</p>
             <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Problema</th>
                    <th scope="col">Solución</th>
                    <th scope="col">Horas invertidas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ts in tickets_solucionados %}
                    <tr>
                    <th scope="row">{{ts.id}}</th>
                    <td>{{ts.problema}}</td>
                    <td>{{ts.solucion}}</td>
                    <td>{{ts.horas}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <p class="h3">Facturas</p>
             <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Facturado por</th>
                    <th scope="col">Valor a cancelar</th>
                    <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in facturas %}
                    <tr>
                    <th scope="row">{{f.id}}</th>
                    <td>{{f.facturador}}</td>
                    <td>{{f.getValorACancelar()}}</td>
                    <td>{{f.fecha|date('d-m-Y')}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}