{% include 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="mt-2 inline">
        <div class="row">
            <div class="col-md-4">
                <p class="h3">Dashboard<small class="text-muted"> {{ app.user.email }} </small></p>
            </div>
            <div class="col-md-2">
                <a class="btn btn-primary" href="{{ path('app_logout') }}">Cerrar sesión</a>
            </div>
        </div>
        <div class="row">
            <hr class="solid">
        </div>
        <div class="row">
            <p class="h3">Tickets pendientes</p>
             <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Problema</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tg in tickets_pendientes %}
                    <tr>
                    <th scope="row">{{tg.id}}</th>
                    <td>{{tg.problema}}</td>
                    <td>{{tg.cliente}}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('app_ticket_atender', {'id':tg.id }) }}">Atender</a>
                    </td>
                    </tr>
                    {% endfor %}
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}