{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
    <div class="container">
        <div class="mt-2">
            <h1 class="h3 mb-3 font-weight-normal">Crear cuenta</h1>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email, {
                    label: 'Correo',
                    'attr': {'class':'form-control'}
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Contraseña',
                    'attr': {'class':'form-control'}
                }) }}
                {{ form_row(registrationForm.roles, {
                    label: 'Rol',
                    'attr': {'class':'form-control'}
                }) }}
                {{ form_row(registrationForm.agreeTerms, {
                    label: 'Aceptar términos y condiciones',
                    'attr': {'class':'form-check'}
                }) }}

                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
